button{
   color: violet;
}
div{
   
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    
   
}
input[type=text]  {
   width: 35%;
   height: 25px;
   border-radius: 5px;  
   display: flex;
   margin: auto;
   flex-direction: row;
   

}
p {
 text-align: center;

}
h1 {
   text-align: center;
}
button {
  text-align: center;
  margin: auto;
  display: flex;
  
}
input[type=email] {
   border-radius: 5px;
   width: 35%;
   height: 25px;
   margin: auto;
   display: flex;
   flex-direction: row;
   justify-content: center;
   
}
textarea[type=address] {
   border-radius: 5px ;
   display: flex;
   justify-content: center;
   margin: auto;
}


